@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpotifyMixUI-Regular';
    src: url('./font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }

@font-face {
    font-family: 'SpotifyMixUI-bold';
    src: url('./font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }

  .scrollable {
    /* Hide scrollbar initially */
    overflow-y: hidden;
  }
  
  .scrollable:hover {
    /* Show scrollbar on hover */
    overflow-y: auto;
  }
  
  /* Custom scrollbar styles */
  .scrollable::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: #444; /* Dark color for scrollbar */
    border-radius: 0px; /* Rounded corners for scrollbar */
  }
  
  .scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #222; /* Darker color on hover */
  }
  
  .scrollable::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
  }
  
  .scrollable::-webkit-scrollbar-corner,
  .scrollable::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
  }
  